@import "tailwindcss";


/* CSS for fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CSS for fade-out animation */
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Add a class to control fade-in animation */
.search-bar-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

/* Add a class to control fade-out animation */
.search-bar-fade-out {
  animation: fade-out 0.3s ease-in-out;
}


/* tailwind.css (or index.css or any global CSS file) */

/* Hide the number input spinner for all browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;  /* Firefox */
  appearance: textfield;       /* Standard */
}

